<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Multiply Two Numbers</title>
  </head>

  <body>
    <h2>
      This page shows some dynamic text given by a parameter to an endpoint:
    </h2>
    <h2>
      Get your fortune read! Chose the answer that best describes your current
      mood.
    </h2>

    <form method="POST">
      <select name="mood" size="4">
        <option value="happy">Happy</option>
        <option value="grumpy">Grumpy</option>
        <option value="excited">Excited</option>
        <option value="content">Content</option>
      </select>
      <br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
