<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Application Home Page</title>
  </head>

  <body>
    <h2>
      Hello World!
    </h2>
    <h3>Here are some routes below for you to explore.</h3>

    <a href="/multiply">Multiply</a> <br />
    <a href="/statictext">Static Text</a> <br />
    <a href="/dynamictext">Dynamic Text</a> <br />
    <a href="/jsondictionary">Json Dictionary</a> <br />
    <a href="/jsondictionarypretty">Json Dictionary for display</a> <br />
  </body>
</html>
